.container{
  width:800px
  }
  
  
  .topboxleft {
  width:70%;
  height: 300px;
  background-color: blueviolet; 
  }
  .left-box {
    width : 20%; 
    height : 400px;
    background-color: yellowgreen;
    display:inline-block;
    vertical-align: top;
  }